* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/open-sans-v27-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v27-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/open-sans-v27-latin_cyrillic-600.woff2') format('woff2'),
    url('../fonts/open-sans-v27-latin_cyrillic-600.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/open-sans-v27-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/open-sans-v27-latin_cyrillic-700.woff') format('woff');
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1366px;
}

.btn {
  width: 12px;
  height: 12px;
  border: none;
  color: #9873ff;
  background-color: transparent;
  cursor: pointer;
}

/* header */
.header {
  background-color: #fff;
}

.header__container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.header__logo {
  margin-right: 53px;
}

.header__input {
  padding: 13px 0 13px 16px;
  width: 581px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  font-size: 14px;
  color: #b0b0b0;
}

/* clients */
.section-clients__container {
  padding: 40px 90px;
}

.section-clients__heading {
  margin: 0;
  margin-bottom: 18px;
  font-size: 24px;
  color: #333;
}

.table__th {
  border: 1px solid #ebe9e9;
  text-align: start;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #b0b0b0;
}

.table__th_id {
  color: #9873ff;
}

.th__btn {
  background-image: url('../img/arrow_downward.png');
  background-repeat: no-repeat;
}

.th__btn_fullname {
  width: 40px;
  font-weight: 600;
  font-size: 10px;
}
