* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/open-sans-v27-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v27-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/open-sans-v27-latin_cyrillic-600.woff2') format('woff2'),
    url('../fonts/open-sans-v27-latin_cyrillic-600.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/open-sans-v27-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/open-sans-v27-latin_cyrillic-700.woff') format('woff');
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1366px;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* header */
.header {
  background-color: #fff;
}

.header__container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.header__logo {
  margin-right: 53px;
}

.header__input {
  padding: 13px 0 13px 16px;
  width: 581px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  font-size: 14px;
  color: #b0b0b0;
}

/* main */
.section-clients {
  display: flex;
}

.section-clients__container {
  justify-content: center;
  padding-top: 40px;
}

.clients__heading {
  margin: 0;
  margin-bottom: 18px;
  font-size: 24px;
  color: #333;
}

/* table */
.clients__table {
  margin-bottom: 40px;
  border-collapse: collapse;
}

.table__th {
  padding: 8px 20px;
  text-align: start;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #b0b0b0;
}

.table__th_id {
  color: #9873ff;
}

.th__btn {
  width: 12px;
  height: 12px;
  color: #9873ff;
  background-image: url('../img/arrow_downward.png');
  background-repeat: no-repeat;
  transition: transform .5s;
}

.flip {
  transform: rotateX(180deg);
}

.th__btn_fullname {
  width: 40px;
  font-weight: 600;
  font-size: 10px;
}

.table__tbody {
  background-color: #fff;
}

.table__tbody > tr {
  border-bottom: 1px solid rgba(200, 197, 209, 0.5);
}

.table__td {
  padding: 20px;
  font-size: 14px;
}

.table__td_id {
  font-size: 12px;
  color: #b0b0b0;
}

.table__td_contacts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding-bottom: 0;
  padding-top: 10;
  max-width: 150px;
}

.contact-div {
  position: relative;
  margin-right: 7px;
  margin-bottom: 7px;
}

.contact-icon {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity .2s ease-in;
}

.contact-tooltip {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 9px 14px;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  color: #fff;
  background-color: #333;
  visibility: hidden;
  transition: visibility .2s ease-in-out;
}

.contact-tooltip::after {
  position: absolute;
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #333;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.contact-icon:hover {
  opacity: 1;
}

.contact-div:hover .contact-tooltip {
  visibility: visible;
}

.contact-div:nth-child(5n) {
  margin-right: 0;
}

.hidden-contacts__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #9873ff;
  font-weight: 600;
  font-size: 10px;
  color: #333;
  transition: border .2s ease-in;
}

.hidden-contacts__button:hover {
  border: 1px solid #8052ff;
}

.time {
  color: #b0b0b0;
}

.action-btn_icon {
  opacity: 0.7;
}

.action-btn_edit,
.action-btn_delete {
  transition: color .2s ease-in;
}

.action-btn_edit:hover {
  color: #9873ff;
}

.action-btn_delete:hover {
  color: #f06a4d;
}

/* add client button */
.clients__add-client {
  display: flex;
  justify-content: center;
}

.add-client__button {
  padding: 13px 26px;
  border: 1px solid #9873ff;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #9873ff;
  transition: color .3s ease-in, background-color .3s ease-in;
}

.add-client__icon {
  margin-right: 5px;
  vertical-align: middle;
}

.add-client__icon path {
  transition: fill .3s ease-in;
}

.add-client__button:hover {
  color: #fff;
  background-color: #b89eff;
}

.add-client__button:active {
  color: #fff;
  background-color: #8052ff;
  ;
}

.add-client__button:hover .add-client__icon path,
.add-client__button:active .add-client__icon path {
  fill: #fff;
}

/* add client modal */
.add-new-client {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease-in, visibility .4s ease-in;
}

.add-new-client__modal {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 450px;
}

.add-new-client__modal-container {
  position: relative;
  padding: 24px 0 25px 0;
  background-color: #fff;
}

.add-new-client__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.add-new-client__heading {
  margin: 0;
  margin-bottom: 32px;
  padding-left: 30px;
  font-size: 18px;
  color: #333;
}

.add-new-client__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-size: 14px;
  color: #b0b0b0;
  transform: translate(0, -45px);
  transition: all 0.3s ease-out;
}

.asterisk {
  color: #9873ff;
}

.input {
  margin-bottom: 25px;
  width: 390px;
  border: none;
  border-bottom: 1px solid #c8c5d1;
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.input:focus {
  outline: none;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label  {
  font-size: 10px;
  color: #b0b0b0;
  transform: translate(0, -57px);
}

.add-contact-btn__container {
  margin-bottom: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: #f4f3f6;
}

.add-contact__btn {
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.add-contact__icon {
  vertical-align: middle;
}

.add-new-client__save-btn {
  margin-bottom: 5px;
  padding: 13px 35px;
  font-weight: 600;
  font-size: 14px;
  background-color: #9873ff;
  color: #fff;
  transition: background-color .3s ease-in;
}

.add-new-client__save-btn:hover {
  background-color: #b89eff;
}

.add-new-client__save-btn:active {
  background-color: #8052ff;
}

.add-new-client__cancel-btn {
  font-size: 12px;
  color: #333;
  text-decoration: underline;
}

.contact-container:not(:first-child) {
  margin-top: 15px;
}

.selectCustom {
  padding: 8px 0 8px 12px;
  max-width: 123px;
  border: 1px solid #c8c5d1;
  border-radius: 0;
  font-size: 12px;
  background-color: #e7e5eb;
}

.contact-input {
  position: relative;
  padding: 9px 0 10px 12px;
  width: 279px;
  border: 1px solid #c8c5d1;
  border-radius: 0;
  font-weight: 600;
  font-size: 14px;
  color: #333;
  background-color: #f4f3f6;
}

.contact-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #b0b0b0;
}

.delete-contact-btn {
  position: absolute;
  right: 27px;
  width: 27px;
  height: 37px;
  border: 1px solid #c8c5d1;
  background-color: #e7e5eb;
  background-image: url('../img/delete-contact.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

/* delete client modal */
.delete-client {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease-in, visibility .4s ease-in;
}

.delete-client__modal {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 450px;
}

.delete-client__modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 0 27px 0;
  background-color: #fff;
}

.delete-client__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.delete-client__heading {
  margin: 0;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 24px;
  color: #333;
}

.delete-client__description {
  margin: 0;
  margin-bottom: 25px;
  max-width: 275px;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  color: #333;
}

.delete-client__btn {
  margin-bottom: 5px;
  padding: 14px 35px;
  font-weight: 600;
  font-size: 14px;
  background-color: #9873ff;
  color: #fff;
  transition: background-color .3s ease-in;
}

.delete-client__btn:hover {
  background-color: #b89eff;
}

.delete-client__btn:active {
  background-color: #8052ff;
}

.delete-client__cancel-btn {
  font-size: 12px;
  color: #333;
  text-decoration: underline;
}

/* update client modal */
.update-client {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease-in, visibility .4s ease-in;
}

.update-client__modal {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 450px;
}

.update-client__modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px 0 25px 0;
  background-color: #fff;
}

.update-client__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.update-client__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.update__input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-contact-btn__container_update {
  margin-bottom: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: #f4f3f6;
}

.update-client__heading-text {
  display: inline-block;
  margin: 0;
  margin-bottom: 30px;
  margin-right: 5px;
  padding-left: 30px;
  font-size: 18px;
  line-height: 24px;
  color: #333;
}

.client__id {
  font-size: 12px;
  font-weight: 400;
  color: #b0b0b0;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
