* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/open-sans-v27-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v27-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/open-sans-v27-latin_cyrillic-600.woff2') format('woff2'),
    url('../fonts/open-sans-v27-latin_cyrillic-600.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/open-sans-v27-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/open-sans-v27-latin_cyrillic-700.woff') format('woff');
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1366px;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* header */
.header {
  background-color: #fff;
}

.header__container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.header__logo {
  margin-right: 53px;
}

.header__input {
  padding: 13px 0 13px 16px;
  width: 581px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  font-size: 14px;
  color: #b0b0b0;
}

/* main */
.section-clients__container {
  padding: 40px 90px 50px;
}

.clients__heading {
  margin: 0;
  margin-bottom: 18px;
  font-size: 24px;
  color: #333;
}

/* table */
.big-table {
  max-height: 620px;
  margin-bottom: 40px;
}

.simplebar-track.simplebar-vertical {
  width: 5px;
  margin-top: 29px;
  opacity: 1;
}

.simplebar-track.simplebar-horizontal {
  height: 5px;
  opacity: 1;
}

.simplebar-scrollbar:before {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  border-radius: 0;
  background-color: #b0b0b0;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.clients__table {
	width: 100%;
  border-collapse: collapse;
}

.table__th,
.th__btn {
  font-weight: 400;
  font-size: 12px;
  color: #b0b0b0;
}

.table__th {
  position: sticky;
  top: 0;
  z-index: 1;
  display: table-cell;
  vertical-align: bottom;
  padding: 8px 10px;
  text-align: left;
  background-color: #f5f5f5;
}

.table__th_fullname {
  white-space: nowrap;
}

.table__th_create,
.table__th_update {
  min-width: 170px;
}

.th__btn {
  padding: 0;
  text-align: left;
}

.th__btn_id {
  color: #9873ff;
}

.th__arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  color: #9873ff;
  background-image: url('../img/arrow_downward.png');
  background-repeat: no-repeat;
  transition: transform .5s;
}

.th__arrow_fullname {
  padding-left: 13px;
  vertical-align: bottom;
  height: 13px;
  background-position: center left;
  width: 40px;
  font-weight: 600;
  font-size: 10px;
}

.flip {
  background-position: bottom center;
  transform: rotateX(180deg);
}

.table__tbody {
  background-color: #fff;
}

.table__tbody > tr {
  border-bottom: 1px solid rgba(200, 197, 209, 0.5);
}

.table__td {
  padding: 20px 10px;
  font-size: 14px;
}

.table__td_id {
  padding-left: 15px;
  font-size: 12px;
  color: #b0b0b0;
}

.table__td_actions {
  white-space: nowrap;
  padding-right: 15px;
}

.table__td_create,
.table__td_update {
  min-width: 102px;
  white-space: nowrap;
}

.table__td_contacts {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding-bottom: 0;
  max-width: 150px;
  min-width: 128px;
}

.contact-div {
  position: relative;
  margin-right: 7px;
  margin-bottom: 7px;
  transition: opacity .3s ease-in, visibility .3s ease-in;
}

.contact-icon {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity .3s ease-in;
}

.contact-link {
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  color: #b89eff;
  text-decoration: underline;
}

.contact-link_tel {
  text-decoration: none;
  color: #fff;
}

.contact-tooltip {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 9px 14px;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  color: #fff;
  background-color: #333;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  z-index: 1;
}

.contact-tooltip::after {
  position: absolute;
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #333;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.contact-icon:hover {
  opacity: 1;
}

.contact-div:hover .contact-tooltip {
  opacity: 1;
  visibility: visible;
}

.contact-div:nth-child(5n) {
  margin-right: 0;
}

.hidden-contacts__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #9873ff;
  font-weight: 600;
  font-size: 10px;
  color: #333;
  transition: border .2s ease-in;
}

.hidden-contacts__button:hover {
  border: 1px solid #8052ff;
}

.time {
  color: #b0b0b0;
}

.action-btn_icon {
  opacity: 0.7;
}

.action-btn_edit {
  margin-right: 32px;
}

.action-btn_edit,
.action-btn_delete {
  transition: color .2s ease-in;
}

.action-btn_edit:hover {
  color: #9873ff;
}

.action-btn_delete:hover {
  color: #f06a4d;
}

/* add client button */
.clients__add-client {
  display: flex;
  justify-content: center;
}

.add-client__button {
  padding: 13px 26px;
  border: 1px solid #9873ff;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #9873ff;
  transition: color .3s ease-in, background-color .3s ease-in;
}

.add-client__icon {
  margin-right: 5px;
  vertical-align: middle;
}

.add-client__icon path {
  transition: fill .3s ease-in;
}

.add-client__button:hover {
  color: #fff;
  background-color: #b89eff;
}

.add-client__button:active {
  color: #fff;
  background-color: #8052ff;
  ;
}

.add-client__button:hover .add-client__icon path,
.add-client__button:active .add-client__icon path {
  fill: #fff;
}

/* General styles for modals */
.modal__background {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease-in, visibility .4s ease-in;
  z-index: 2;
}

.add-client-modal,
.update-client-modal,
.delete-client-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease-in, visibility .4s ease-in;
  z-index: 3;
}

.add-client-modal__wrapper,
.update-client-modal__wrapper,
.delete-client-modal__wrapper {
  position: relative;
  padding: 24px 0 25px 0;
  background-color: #fff;
}

.add-client-modal__close-button,
.delete-client-modal__close-button,
.update-client-modal__close-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.add-client-modal__heading,
.delete-client-modal__heading,
.update-client-modal__heading-text {
  margin: 0;
  margin-bottom: 32px;
  padding-left: 30px;
  line-height: 24px;
  font-size: 18px;
  color: #333;
}

.add-client-modal__form,
.update-client-modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inputs__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-input__label {
  font-size: 14px;
  color: #b0b0b0;
  transform: translate(0, -45px);
  transition: all 0.3s ease-out;
}

.form-input {
  margin-bottom: 25px;
  width: 390px;
  border: none;
  border-bottom: 1px solid #c8c5d1;
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.form-input_error {
  border-bottom: 1px solid #f06a4d;
}

.asterisk {
  color: #9873ff;
}

.form-input:focus {
  outline: none;
}

.form-input:focus + .form-input__label,
.form-input:not(:placeholder-shown) + .form-input__label  {
  font-size: 10px;
  color: #b0b0b0;
  transform: translate(0, -57px);
}

.add-contact-button__wrapper {
  margin-bottom: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: #f4f3f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-wrapper__margin-bottom {
  margin-bottom: 9px;
}

.add-contact__btn {
  padding-left: 18px;
  font-weight: 600;
  font-size: 14px;
  color: #333;
  background-image: url('../img/add-contact-icon.svg');
  background-repeat: no-repeat;
  background-position: center left;
  transition: color .3s ease-in, background-image .3s ease-in;
}

.add-contact__btn:hover {
  color: #9873ff;
  background-image: url('../img/add-contact-icon-hover.svg');
}

.add-contact__btn_margin {
  margin-top: 20px;
  margin-bottom: 15px;
}

.add-contact__icon {
  vertical-align: middle;
}

.server-errors__wrapper {
  margin-bottom: 9px;
  max-width: 255px;
  text-align: center;
}

.server-errors__error-descr {
  font-size: 10px;
  color: #f06a4d;
}

.server-errors__error-descr {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.save-client__button {
  margin-bottom: 5px;
  padding: 13px 35px;
  font-weight: 600;
  font-size: 14px;
  background-color: #9873ff;
  color: #fff;
  transition: background-color .3s ease-in;
}

.save-client__button:hover {
  background-color: #b89eff;
}

.save-client__button:active {
  background-color: #8052ff;
}

.add-client-modal__cancel-button,
.update-client-modal__delete-button,
.delete-client-modal__cancel-button {
  font-size: 12px;
  color: #333;
  text-decoration: underline;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 390px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.contact-container:not(:first-child) {
  margin-top: 15px;
}

.delete-contact-tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 9px 14px;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  color: #fff;
  background-color: #333;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out;
}

.delete-contact-tooltip::after {
  position: absolute;
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #333;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.delete-contact-btn:hover .delete-contact-tooltip {
  opacity: 1;
  visibility: visible;
}

.contact-input {
  padding: 9px 0 10px 12px;
  width: 279px;
  border: 1px solid #c8c5d1;
  border-radius: 0;
  font-weight: 600;
  font-size: 14px;
  color: #333;
  background-color: #f4f3f6;
}

.contact-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #b0b0b0;
}

.contact-input:focus {
  outline: none;
}

.contact-input_error {
  border: 1px solid #f06a4d;
}

.contact-label_error {
  position: absolute;
  left: 0;
  top: 102%;
  font-size: 12px;
  color: #f06a4d;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in, visibility .3s ease-in;
}

.input-error_fill,
.input-error_invalid-fullname {
  margin-bottom: 3px;
  font-size: 12px;
  color: #f06a4d;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in, visibility .3s ease-in;
}

.delete-contact-btn {
  position: absolute;
  right: 0;
  width: 27px;
  height: 37px;
  border: 1px solid #c8c5d1;
  background-color: #e7e5eb;
  background-image: url('../img/delete-contact.svg');
  background-repeat: no-repeat;
  background-position: center center;
  transition: border .3s ease-in, background-image .3s ease-in;
}

.delete-contact-btn:hover {
  border: 1px solid #f06a4d;
  background-image: url('../img/delete-contact-hover.svg');
}

/* delete client modal */
.delete-client {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease-in, visibility .4s ease-in;
}

.delete-client-modal {
  top: 40%;
}

.delete-client-modal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 0 27px 0;
}

.delete-client-modal__heading {
  margin-bottom: 11px;
  padding-left: 0;
}

.delete-client-modal__description {
  margin: 0;
  margin-bottom: 25px;
  max-width: 275px;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  color: #333;
}

.delete-client-modal__delete-button {
  margin-bottom: 5px;
  padding: 14px 35px;
  font-weight: 600;
  font-size: 14px;
  background-color: #9873ff;
  color: #fff;
  transition: background-color .3s ease-in;
}

.delete-client-modal__delete-button:hover {
  background-color: #b89eff;
}

.delete-client-modal__delete-button:active {
  background-color: #8052ff;
}

/* update client modal */
.update-client {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease-in, visibility .4s ease-in;
}

.update-client-modal__wrapper {
  display: flex;
  flex-direction: column;
}

.update-client-modal__form {
  width: 100%;
}

.update-client-modal__heading-text {
  display: inline-block;
  margin-bottom: 30px;
  margin-right: 5px;
  padding-left: 30px;
}

.client__id {
  font-size: 12px;
  font-weight: 400;
  color: #b0b0b0;
}

/* Custom select */
.custom-select-wrapper {
  position: relative;
}

.custom-select__button {
  position: relative;
  display: block;
  width: 123px;
  height: 37px;
  padding: 10px 0 10px 12px;
  text-align: left;

  background-color: #e7e5eb;
  border: 1px solid #c8c5d1;
  font-size: 12px;
  line-height: 16px;
  color: #333;

  cursor: pointer;
}

.custom-select__button:focus {
  outline: none;
}

.custom-select__button::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 6px;
  background-image: url('../img/arrow-down-select.svg');
  background-repeat: no-repeat;
  vertical-align: middle;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-select__button_is-open::after {
  transform: rotate(-180deg) translateY(50%);
}

.custom-select__list {
  display: none;
  position: absolute;
  left: 0;
  top: 37px;
  margin: 0;
  padding: 0;
  background-color: #f4f3f6;
  overflow: hidden;
  width: 123px;
  z-index: 1;
  border: 1px solid #c8c5d1;
  border-top: none;
  text-align: left;
}

.custom-select__list_visible {
  display: block;
}

.custom-select__item {
  margin: 0;
  padding: 0;
  font-size: 12px;
  padding: 10px 0 10px 12px;
  cursor: pointer;
  color: #333;
}

.custom-select__item:hover {
  background-color: #eeecf0;
}

.custom-select__input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

/* visibility */
.visible {
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

/* 1200 */
@media (max-width: 1200px) {
  .section-clients__container {
    padding: 40px 20px 50px;
  }

  .table__td_fullname {
    max-width: 260px;
  }

  .action-btn_edit {
    margin-right: 20px;
  }
}

/* 992 */
@media (max-width: 992px) {
  .simplebar-track.simplebar-vertical {
    margin-top: 41px;
  }

  .table__th_create,
  .table__th_update {
    min-width: 102px;
  }

   .table__td {
    padding: 10px;
  }

  .table__td_contacts {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .table__td_create,
  .table__td_update,
  .table__td_actions {
    white-space: normal;
  }

  .table__td_actions {
    min-width: 118px;
  }

  .action-btn_edit {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .header__input {
    width: 350px;
  }
}

/* 576 */
@media (max-width: 576px) {
  .header__container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .section-clients__container {
    padding: 40px 10px 50px;
  }

  .header__logo {
    margin-right: 20px;
  }

  .header__input {
    width: 300px;
  }

  .update-client-modal__heading {
    display: flex;
    flex-direction: column;
  }

  .add-client-modal__heading,
  .update-client-modal__heading-text {
    margin-bottom: 16px;
    padding-left: 15px;
  }

  .add-client-modal__heading {
    margin-bottom: 16px;
  }

  .update-client-modal__heading-text {
    margin-bottom: 3px;
  }

  .client__id {
    margin-bottom: 20px;
    padding-left: 16px;
  }

  .add-client-modal,
  .update-client-modal,
  .delete-client-modal {
    width: 300px;
  }

  .form-input {
    margin-bottom: 25px;
    width: 270px;
  }

  .custom-select__button {
    width: 115px;
  }

  .contact-input {
    width: 160px;
  }
}

/* 425 */
@media (max-width: 425px) {
  .header__container {
    display: flex;
    justify-content: center;
    padding: 8px;
  }

  .header__logo {
    margin-right: 0;
  }


  .header__input {
    display: none;
  }
}

/* 375 */
@media (max-width: 375px) {
  .header-logo__img {
    width: 24px;
    height: 24px;
  }

  .section-clients__container {
    padding-top: 30px;
  }

  .clients__heading {
    margin-bottom: 0;
    font-size: 18px;
  }
}
